.memoContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 60px 40px;
  gap: 40px;
  height: 100vh;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.boatContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  gap: 20px;
}

.boatNameContainer {
  font-weight: bold;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85px;
  min-width: 110px;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
  gap: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.boatName {
  font-size: 20px;
}

.todayCount {
  font-size: 18px;
  color: white;
}

.totalCount {
  font-size: 18px;
  color: white;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: white;
}

.dateChangeButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.dateChangeButton {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.todayCountValueContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  height: 85px;
  gap: 5px;
  width: 70px;
}

.valueContainer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 36px;
}

.submitButton {
  width: 100%;
  height: 80px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgb(141, 110, 255);
  color: white;
  font-size: 30px;
}
